<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jamessu712.mall.order.mapper.OrderMapper">
    <select id="getOrderByCode" resultType="com.jamessu712.mall.order.model.OrderModel">
        select * from tbl_order where code = #{code}
    </select>
    <insert id="insertOrder" parameterType="com.jamessu712.mall.order.model.OrderModel" keyProperty="pk" useGeneratedKeys="true">
        INSERT INTO tbl_order (pk,creationTime,modifiedTime,code,totalPrice) VALUES (#{pk},#{creationTime},#{modifiedTime},#{code},#{totalPrice});
    </insert>
</mapper>
